/* ID-Sektor */
#gamepad {
    color: crimson;
}
#fire {
    color: rgb(255, 208, 0);
}
#bookmark {
    color: rgb(30, 128, 226);
}
#leaf {
    color: rgb(218, 104, 28);
}
#firefox {
    color: rgb(120, 206, 35);
}
#binoculars {
    color: rgb(0, 255, 242);
}